
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: rem(300);
    width: rem(300);
    padding: rem(40);
    background-color: $logo-blue;
    border-radius: 10px;
    gap: rem(20);
    color: $logo-light-green;

    &__col {
        display: flex;
        flex-direction: column;
        text-align: justify;
        font-size: rem(20);
        gap: rem(2);
    }

    &__input {
        padding: rem(5);
        border-radius: rem(2);
        border: none;
        cursor:text;

        &:focus {
            outline: 3px solid $light-green;
        }
    }

    &__alert-message {
        color: crimson;

        &--hide {
            color: transparent;
        }
    }

    &__button {
        align-self: center;
        background-color: $light-green;
        color: white;
        width: rem(200);
        font-size: rem(20);
        border-radius: 5px;
        border: 2px solid transparent;
        outline: none;
        padding: rem(2);
        cursor: pointer;

        &:hover, &:focus {
            border: 2px solid rgb(255, 255, 255);
            background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), $light-green;
        }

    }

    @include tablet() {
        &{
            width: rem(400);
        }
    }

}