
.product {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: rem(20);

    &__container {
        display: flex;
        flex: 1;
        flex-direction: column;
        border-radius: 10px;
        padding: rem(20);
        background-color: rgba($alternate-brown, 0.5);
    }

    &__details-container {
        justify-content: space-between;
        gap: rem(20);
    }

    &__image {
        align-self: center;
        width: 60vw;
        max-height: 60vh;
        border-radius: 10px;

    }

    &__name {
        font-size: rem(30);
        color: white;
    }

    &__price {
        font-size: rem(25);
        color: $light-gray;
    }

    &__description {
        color: $light-gray;
    }

    &__buy-container {
        display: flex;
        justify-content: center;
        gap: rem(10);
    }

    &__buy-button {
        align-self: center;
        background-color: brown;
        color: white;
        width: min(100%, rem(200));
        height: rem(30);
        font-size: rem(20);
        border-radius: 5px;
        border: none;

        &:hover {
            border: 2px solid rgb(255, 255, 255);
            background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), brown;
            cursor: pointer;
        }
    }

    @include tablet() {
        & {
            flex-direction: row;
        }

        &__image {
            width: min(60vh, 100%);
        }
    }
}