
.centered-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: rem(30);
}

.wishlist {
    display: flex;
    flex-direction: column; 
    height: 100%;
    gap: rem(20);

    &__cart-container {
        display: flex;
        flex-direction: column;
        background-color: rgba($light-beige, 0.4);
        color: white;
        width: 100%;
        font-size: rem(20);
        gap: rem(20);
        overflow-x: hidden;
    }

    &__cart-title {
        font-weight: 600;
        font-size: rem(25);
        padding: rem(20);
        background-color: rgba($bg-dark-blue, 0.9 );
    }

    &__cart-content {
        display: flex;
        flex-direction: column;
        gap: rem(20);
        padding: 0 rem(20) rem(20) rem(20);
    }

    &__cart-button {
        background-color: $light-green;
        color: white;
        height: rem(40);
        width: rem(250);
        font-size: rem(20);
        border-radius: 5px;
        border: none;
        cursor: pointer;
    
        &:hover {
            border: 2px solid rgb(255, 255, 255);
            background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), $light-green;
        }
    
    }

    @include computer() {

        & {
            flex-direction: row;
        }

        &__cart-container {
            height: fit-content;
            width: 30%;
        }

        &__cart-button {
            width: 100%;
        }
    }
}
