
.product-list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

    &--flex{
        display: flex;
        gap: rem(10);
        margin-bottom: 10px;
        height: 300px;
    }

    &--grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(20);
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: justify;
        height: rem(300);
        width: 100%;
        background-color: brown;
        border-radius: 10px;
        border: none;
        padding: rem(10);
        margin: 0;
        gap: rem(5);
        overflow: hidden;
    }

    &__container-hover {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: rem(10);
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0;
        border-radius: rem(10);
        color: white;
        font-size: rem(18);
        outline: none;
        cursor: pointer;

        &:hover, &:focus{
            outline: 2px solid $light-white;
            opacity: 0.5;
        }
    }

    &__image-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 67%;
        max-height: calc((100vw - rem(20) * 3 - rem(10) * 4) / 2);
        background-color: white;
        border-radius: 5px;
    }

    &__image {
        align-self: center;
        width: auto;
        height: 100%;
        border-radius: 5px;
    }

    &__name {
        color: white;
        text-align: left;
    }

    &__price {
        color: $light-gray;
        font-size: rem(18);
    }

    @include tablet() {
        &--grid {
            grid-template-columns: 1fr 1fr 1fr;
        }

        &__image-container {
            max-height: calc((100vw - rem(20) * 4 - rem(10) * 6) / 3);
        }
    }

    @include computer() {
        &--grid {
            gap: 40px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }

        &__image-container {
            max-height: calc((100vw - rem(40) * 6 - rem(10) * 10) / 5);
        }
    }
}