$dark-green: #114c5f;
$light-green: #9cd2d3;


$light-green: #637f42;
$light-white: #f0f0f0;
$alternate-brown: #7f6b47;
$light-gray: #cdd3bc;
$light-beige: #bfaa72;
$alternate-green: #34544d;
$alternate-dark-green: #14352c;
$redwood: #a45452;


$bg-gray: #8b7867;
$bg-dark-blue: #2f2f2f;