
.admin-panel {

    &__page-title {
        background-color: rgba($bg-dark-blue, 1);
        width: 100%;
        text-align: left;
        padding: 20px;
        color: white;
    }

    &__button {
        align-self:flex-start;
        background-color: $logo-blue;
        color: white;
        width: 200px;
        height: 50px;
        font-size: rem(20);
        border-radius: 5px;
        border: 2px solid transparent;
        outline: none;
        padding: rem(2);
        cursor: pointer;

        &--brown {
            background-color: brown;
        }

        &:hover:not(:disabled){
            border: 3px solid rgb(255, 255, 255);
            background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), $light-green;
        }

        &:focus:not(:disabled){
            border: 3px solid rgb(255, 255, 255);
            background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), $light-green;
        }

        &:active {
            background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), white;
        }
        
        &:disabled {
            background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), $light-green;
            color: rgba(white, 0.3);
        }

    }


    @include computer() {

    }
}
