
.sign-up-form {
    display: flex;
    flex-direction: column;
    height: rem(500);
    width: rem(300);
    padding: rem(40);
    background-color: $logo-blue;
    border-radius: 10px;
    gap: rem(20);
    color: $logo-light-green;

    &__title {
        font-size: 28px;
    }

    &__col-container {
        display: flex;
        flex-direction: column;
        gap: rem(20);
        justify-content: center;
    }

    &__col {
        display: flex;
        width: 100%;
        flex-direction: column;
        text-align: justify;
        font-size: rem(16);
        gap: rem(2);
    }

    &__label {
        display: flex;
    }

    &__input {
        width: 100%;
        margin-top: auto;
        padding: rem(5);
        border-radius: rem(2);
        border: none;
        outline: none;
        cursor:text;

        &:focus {
            box-shadow: 0 0 0 rem(3) $light-green;
        }
    }

    &__alert-message {
        color: crimson;
        text-align: right;
        margin-left: auto;
        font-size: rem(13);
        align-self: flex-end;

        &--hide {
            display: none;
        }
    }

    &__button {
        align-self: center;
        margin-top: auto;
        background-color: $light-green;
        color: white;
        width: 100%;
        font-size: rem(20);
        border-radius: 5px;
        border: 2px solid transparent;
        outline: none;
        padding: rem(2);
        cursor: pointer;

        &:hover:not(:disabled){
            border: 2px solid rgb(255, 255, 255);
        }

        &:focus:not(:disabled){
            border: 2px solid rgb(255, 255, 255);
        }

        &:active {
            background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), $light-green;
        }
        
        &:disabled {
            background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), $light-green;
            color: rgba(white, 0.3);
        }

    }

    @include tablet() {
        & {
            height: rem(420);
            width: rem(500);
        }

        &__title {
            font-size: 28px;
        }

        &__col-container {
            flex-direction: row;
            gap: rem(10);
        }

        &__button {
            width: rem(200);
        }
    }

}