
.sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: $light-green;

    &__logo {
        object-fit:cover;
        height: 140px;
        width: 300px;
    }

    &__link-to {
        color: $bg-dark-blue;
        font-weight: 600;
        text-decoration: none;
        cursor: pointer;
        outline: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}