.searchbar {
    height: 100%;
    width: 100%;
    padding: rem(10);
    border-radius: rem(5);
    border: none;

    &:focus {
        outline: 3px solid $light-green;
    }

    @include tablet() {
        &{
            min-width: rem(180);
        }
    }
}