
.featured-categories-ref {
    position: absolute;
    top: min(rem(400), calc(50vh + rem(2)));

    @include tablet() {
        & {
            top: min(rem(800), calc(75vh + rem(2)));
        }
    }
}

.featured-categories-container {
    display: grid;
    grid-template-areas:
        'feature1 feature1 feature2'
        'feature3 feature4 feature4'
    ;
    height: rem(300);
    width: 100%;
    gap: rem(10);


    @include tablet() {
        & {
            height: rem(600);
            gap: rem(20);
        }
    }
}

.featured-products {
    display: flex;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        width: 20px;
        height: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: brown;
        border-radius: 5px;
    }
}